<section>
  <img src="assets/images/Frame 1.png" alt="" />
  <div class="right-container">
    <div class="going-back-box">
      <button routerLink="/individual">
        <i class="fa-solid fa-angle-left" routerLink="/individual"></i>Back
      </button>
      <div>
        <p>STEP 02/03</p>
        <h6>Residency Info.</h6>
      </div>
    </div>

    <form action="">
      <h1>Complete Your Profile!</h1>
      <p>For the purpose of industry regulation, your details are required.</p>
      <div>
        <label>Phone number</label>
        <input type="text" placeholder="090912345567" />
      </div>
      <div>
        <label>Your address</label>
        <input type="email" placeholder="Please enter address" />
      </div>
      <div>
        <label>Country of residence</label>
        <input type="password" placeholder="Enter email address" />
      </div>
      <button type="submit" class="register-btn" routerLink="complete/verify">
        Save & Continue
      </button>
      <div class="secured-safety">
        <img src="/assets/images/lock_24px.svg" alt="" />
        <p>Your Info is safely secured</p>
      </div>
    </form>
  </div>
</section>
