<section>
  <img src="assets/images/Frame 1.png" alt="" />
  <div class="right-side-contianer">
    <div class="sign-in-container">
      <p>Already have an account?</p>
      <button>Sign In</button>
    </div>
    <div class="join-us-container">
      <h1>Join Us!</h1>
      <p>
        To begin this journey, tell us what type of account you’d be opening.
      </p>
      <div class="individual">
        <div class="pentagon-container">
          <!-- <i class="fa-regular fa-user user-icon"></i> -->
          <img src="/assets/images/user.svg" alt="" />
        </div>
        <div routerLink="individual">
          <h3>Individual</h3>
          <p>Personal account to manage all you activities.</p>
        </div>
        <i class="fa-solid fa-arrow-right arrow-icon"></i>
      </div>
      <div class="business">
        <div class="pentagon-container-white">
          <img src="assets/images/briefcase.png" alt="" class="brief-icon" />
        </div>
        <div>
          <h3>Business</h3>
          <p>Own or belong to a company, this is for you.</p>
        </div>
        <i class="fa-solid fa-arrow-right arrow-icon"></i>
      </div>
    </div>
  </div>
</section>
